:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.mantine-Table-table td,
.mantine-Table-table th {
  border-right: 1px solid #96989b;
}

.mantine-Table-table th:last-of-type,
.mantine-Table-table td:last-of-type {
  border-right: none;
}


/* static table example */

body {
  font-family: Arial, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
/* Add black background to every second row */
tr:nth-child(even) {
border-bottom: 3px solid #dddddd;
}
th {
border-right: 3px solid gray;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 5px;
  word-wrap: break-word;
}
th {
  background-color: #eaeaea;
  font-weight: bold;
}
.left-column {
  background-color: #e0f7fa; /* Light blue */
  font-weight: bold;
  text-align: left;
}
.highlight {
  background-color: #d5fdd5; /* Light green */
  color: black;
  font-size: 8px;
  text-align: left;
}
.highlight-red {
  background-color: #fdd5d5; /* Light red */
  color: black;
  font-size: 8px;
  text-align: left;
}
.highlight-gray {
  background-color: lightgray; /* Light red */
  color: black;
  font-size: 8px;
  text-align: left;
}
@media screen and (max-width: 600px) {
  th, td {
      font-size: 8px;
      padding: 3px;
  }
  .left-column {
      font-size: 8px;
  }
}